/* --======================= help css here =======================-- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}
body{
    font-family: sans-serif;
}
a{
    transition: all 0.42s ease-in;
    text-transform: capitalize;
}
.container{
    max-width:1170px;
    margin: auto;
    padding: 0 2%;
}
:root{
    --main-color: #354750;
    --second-color: #056388;
    --white-color: #fdf9f9;
}

/* --=======================  navbar her =======================-- */


nav{
    background-color: var(--second-color);
    
}
.logo{
    font-size: 40px;
    font-family: sans-serif;
    display: inline;
    font-weight: 550;
    color: var(--white-color);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    transition: all 0.42s ease-in;
    position: relative;
    padding: 14px 26px;
}
nav ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: var(--white-color);
    transition: all 0.42s ease-in;
}

nav ul li:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}
.page{
    display: flex;
    align-items: center;
}



/* --======================= chevron-down ======================= */
nav ul li .bx-chevron-down{
    color: var(--white-color);
    font-size: 22px;
    margin-top: 2px;
}

nav li:hover .bx-chevron-down{
    transform: rotate(180deg);
}






/* --======================= drop-menu ======================= */
.drop-menu{
    position: relative;
    display: none;
}

nav ul li:hover .drop-menu{
    display: block;
    background-color: var(--second-color);
    position: absolute;
    width: 150px;
    border-top: 3px solid rgb(253, 114, 0);
    padding: 1px;
}
.drop-menu li{
    display: block;
    border-bottom: 1px dotted #fff;
    padding: 1px 2px;
}
.drop-menu li:last-child{
    border-bottom: none;
}




/* --======================= drop-menu-bar-2 ======================= */

.bx-plus{
    display: inline-block;
    color: var(--white-color);
    font-size: 20px;
    padding-left: 10px;
}

.drop-menu-bar-2{
    display: none;
}
.drop-menu li:hover .drop-menu-bar-2{
    display: block;
    position: absolute;
    width: 150px;
    border-top: 3px solid rgb(253, 114, 0);
    padding: 3px;
    top: 83px;
    left: 150px;
    background-color: var(--second-color);
    
}



/* -========================== menu icon here ========================== */

.menu-icon{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 43px;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;
}
.menu-icon i{
    color: var(--white-color);
}



/* -========================== BG-COVER HERE ========================== */
#bg-image{
    max-width: 100%;
    height: 100vh;
    background-image: url(../image/background\ .jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-color: #354750d3;
    background-blend-mode: multiply;
}




/* -========================== BG-CNT STARTS HERE ========================== */

#bg-image .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px ;
    height: 100vh;

}

/* MAN IMAGE HERE */
.man-image{
    text-align: right;
}
.man-image img{
    width: 100%;
}
.man-image img{
    max-width: 400px;
}




h1 span{
    color: #f18d09;
    font-size: 55px;
    text-transform: capitalize;
}
h1{
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 60px;
}
h4{
    color: #f18d09;
    font-weight: 300;
    font-size: 20px;
}
p{
    margin: 15px 0;
    color: #e2e0e0;
    font-size: 17px;
}
.get-started{
    display: inline-block;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 15px 25px ;
    border-radius: 5px;
    font-size: 18px;
}
.get-started-2:hover,
.get-started:hover{
    background-color: var(--white-color);
    color: #000;
}
.get-started-2{
    display: inline-block;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 15px 25px ;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 10px ;
}


/* -========================== BG-CNT ENDS HERE ========================== */






/* -========================== FOTER STARTS HERE ========================== */
footer{
    text-align: center;
    background-color: var(--main-color);
}
footer .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -========================== FOTER ENDS HERE ========================== */


